.spacer {
    -fx-min-width: 790px;
}

.basicText {
    -fx-font-family: "Adamina";
    -fx-font-size: 14px;
    -fx-text-fill: #202020;
}

.smallHeading {
    -fx-font-family: "Adamina";
    -fx-font-size: 16px;
    -fx-text-fill: #202020;
}

.heading {
    -fx-font-family: "Adamina";
    -fx-font-size: 22px;
    -fx-text-fill: #202020;
}

.bigHeading {
    -fx-font-family: "Adamina";
    -fx-font-size: 28px;
    -fx-text-fill: #202020;
}

.basicButton {
    -fx-background-color: #202020;
    -fx-border-color: BLACK ;
    -fx-border-width: 2px ;
    -fx-font-family: "Adamina";
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.nextButton {
    -fx-background-color: #202020;
    -fx-border-color: BLACK ;
    -fx-border-width: 2px ;
    -fx-font-family: "Adamina";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-min-width: 300px;
}

.linkButton {
    -fx-text-fill: BLACK;
    -fx-background-color: transparent;
    -fx-underline: true;
    -fx-text-fill: BLACK;
    -fx-font-size: 14px;
    -fx-min-width: 300px;
}

.combo-box {
    -fx-background-color: #202020;
    -fx-border-color: BLACK ;
    -fx-border-width: 2px ;
}

.combo-box-popup .list-view .list-cell {
-fx-background-color: #202020;
}

.combo-box-popup .list-view .list-cell:filled:hover{
-fx-background-color: #282828;
}

.combo-box-base .text{
    -fx-fill: WHITE;
}

.firstBackground {
    -fx-background-image:url("pictures/logInBackground.jpg");
    -fx-background-size: cover;
}

.secBackground {
     -fx-background-image: url("pictures/mainPic.png");
     -fx-background-repeat: no-repeat;
     -fx-background-size: 900px 230px;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #101010;
}

.tab-pane {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:30px;
  -fx-tab-max-height:30px;
}

.tab {
  -fx-font-family: Adamina;
  -fx-text-base-color: white;
  -fx-font-size: 12;
  -fx-background-color: #202020 ;
  -fx-border-color: BLACK ;
  -fx-border-width: 1px ;
}

.tab:selected {
    -fx-background-color:#101010 ;
}

.tree-view {
    -fx-border-color: BLACK ;
    -fx-border-width: 2px ;
}

.tree-view, .tree-cell {
    -fx-background-color: #202020 ;
    -fx-text-fill: white ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #101010 ;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.hbox {
    -fx-background-color: #202020;
}

.vbox {
    -fx-background-color: #efe2d6 ;
}

.grid-pane {
    -fx-background-color: #efe2d6 ;
}

.progress-bar {
    -fx-accent: #202020;
}

.progress-bar > .track {
  -fx-text-box-border: #202020;
  -fx-control-inner-background: WHITE;
}